<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <h1>Search Our Accomodations</h1>

    <form action="/search" method="GET">
        <input type="text" name="country" placeholder="Select Destination Country">
        <input type="text" name="numberOfPerson" placeholder="1">
        <span> <input type="text" name="priceRange" placeholder="1.0">  Min</span> 
        <span> <input type="text" name="priceRange" placeholder="1.0">  Max</span>
       
        <input type="submit" value="Search for listing">
    </form>
 


    
</body>
</html>