<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation Page aka View 3</title>
  </head>
  <body>
    <!--Back to View 2: search results from original criteria-->
    <br />
    <a data-th-href="@{/listings}">Back to All Listings</a>

    <!--To include selected listing with resv_id in a table format-->
    <div> 
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Address</th>
           <th>Price</th>
          <th>Amenities</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="listingDetails :${listOfBooking}">
          <td>
            [[${listingDetails.id}]]
          </td>
          <td>
            [[${listingDetails.description}]] 
            <!--find out how to display adjacent in line image-->
          </td>
          <td>
            [[${listingDetails.address}]]
          </td>
          <td>
            [[${listingDetails.price}]]
          </td>
          <td>
            [[${listingDetails.amenities}]]
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    </table>

    <h1>Booking Details</h1>
    </br/>

    <form action="#" th:action="@{/reservation/saveBooking}" th:object="${booking}" method="POST">
      <input type="hidden" name="resv_id" th:value="*{resv_id}">
      <div>
        <label for="customerName">Customer Name</label>
        <br />
        <input
          type="text"
          th:field="*{customerName}"
          placeholder="Enter your name here"
        />
      </div>
      <br />
      <div>
        <label for="email">Email</label>
        <br />
        <input
          type="email"
          th:field="*{email}"
          placeholder="Enter your email address here"
        />
      </div>
      <br />
      <div>
        <label for="arrivalDate">Arrival Date</label>
        <br />
        <input
          type="date"
          th:field="*{arrivalDate}"
          placeholder="Enter Arrival Date here (DD/MM/YYYY)"
        />
      </div>
      <br />
      <div>
        <label for="durationOfStay">Duration of Stay</label>
        <br />
        <input
          type="number"
          th:field="*{durationOfStay}"
          placeholder="Enter Duration of Stay here"
          />
      </div>

      <br /><br />
      <button type="submit">Book</button>
    </form>
  </body>
</html>
